src/main/mule/round_robin.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="372e19a2-6ce6-4691-820c-cb4994bad042" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="round_robinFlow" doc:id="e4a16c15-af81-4cf9-950a-6d263a550d99" >
		<http:listener doc:name="Listener" doc:id="d022ac76-ba0e-4425-acbf-2c83467da6fd" config-ref="HTTP_Listener_config" path="/round">
			<http:response statusCode="#[vars.status_code]" />
			<http:error-response statusCode="#[vars.status_code]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<round-robin doc:name="Round Robin" doc:id="4c50fb85-8109-4912-a478-024ac2f832ee" >
			<route >
				<ee:transform doc:name="Transform Message" doc:id="e0c4e68f-88d4-482e-86f3-2abe790cfd41" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="status_code" ><![CDATA[%dw 2.0
output application/json
---
400]]></ee:set-variable>
						<ee:set-variable variableName="error_msg" ><![CDATA[%dw 2.0
output application/java
---
{
"success": "error",
"message": "Bad Request"
}
]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
<ee:transform doc:name="Transform Message" doc:id="261afcb7-23ac-4df6-9c70-2af431273a4a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.error_msg]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="307a0a51-2f08-4221-b522-692031bd5c24" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="status_code" ><![CDATA[%dw 2.0
output application/json
---
404]]></ee:set-variable>
						<ee:set-variable variableName="error_msg" ><![CDATA[%dw 2.0
output application/json
---
{
"success": "error",
"message": "Not found"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
<ee:transform doc:name="Transform Message" doc:id="21fcdba0-8ef4-471b-a7a1-4fcea39ab9f7" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.error_msg]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="5f93a56c-b31a-404a-936a-8db11afc468c" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="status_code" ><![CDATA[%dw 2.0
output application/json
---
500]]></ee:set-variable>
						<ee:set-variable variableName="error_msg" ><![CDATA[%dw 2.0
output application/java
---
{
"success": "error",
"message": "UNKNOWN ERROR"
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
<ee:transform doc:name="Transform Message" doc:id="3dc12e4b-0a51-452f-9b72-3863b8751f05" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.error_msg]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
			<route >
				<ee:transform doc:name="Transform Message" doc:id="1bd45c1a-215c-44fb-9f2c-1e346725b7a4" >
					<ee:message >
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="status_code" ><![CDATA[%dw 2.0
output application/json
---
200]]></ee:set-variable>
						<ee:set-variable variableName="error_msg" ><![CDATA[%dw 2.0
output application/json
---
{
"success": "success",
"message": "OK!! We have recived your request.."
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="73c96d20-bd6c-43ef-824b-272353083423" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.error_msg]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</route>
		</round-robin>
		<choice doc:name="Choice" doc:id="eb29732a-38cb-4435-b21d-53f41a111cf3" >
			<when expression='#[payload.success == "success"]'>
				<ee:transform doc:name="Transform Message" doc:id="d3adc29e-5af3-470d-9096-b7bd4b2e6fc6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"success"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="623ada41-e2df-4a10-bcf6-9e17b9635e4f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"error"]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
